main{
    margin:0;
    padding: 0;
    width: 100vw;
}
body{
    margin:0;
    width: 100vw;
     background-color: #e3e3e3e6;
}
section{
    width:90vw;
    max-width:990px;
    margin: auto;
    padding: 10px;
    /* border: 1px solid royalblue; */
}

.introduction{
    color:rgb(175, 175, 175);
    height: 23.4vh;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    border-radius: 10px;
    line-height: 5px;
}

.landing_image{
    /* width: 30vw; */
    height: 23.4vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.decorativestuff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90vw;
    /* margin: auto; */
    background-color: #463832;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

hr{
    width: 80%;
    color:rgb(175, 175, 175);

}

.followers{
    font-size: 1.755em;
}
.name_heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
}

a{
    text-decoration: none;
    color:#a60311
}

.about{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: start;
}

.reels_list{
    list-style-position: outside;
    list-style: none;
    
}

h2,h3{
    color:#463832
}


.instagram_snapshot, .audience_demographics, .deliverables, .audience_demographics, .content_themes{
    list-style-position: inside;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #46383237;
    /* border: 1px solid blue; */
}

.about{
    border: .5px solid black;
    border-radius: 10px;
    border-bottom: 0;
    border-top: 0;

}

